@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*
@layer components {
  .btn{
    @apply px-4 py-2 bg-gradient_orange text-light font-poppins
  }
}*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #202430;
  font-family: 'Poppins', sans-serif;
}
.shadow1{
  background: #C4C4C4;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
}
/* h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/
.nav svg.active {
  stroke: #FBFBFB ;
}
.nav svg.inactive {
  stroke: #3A4151;
}

